.header {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.header::after {
  position: relative;
  height: 0px;
  width: 40%;
  display: block;
  content: ' ';
  left: calc(60% + 20px);
  bottom: -20px;
  background-color: var(--background-light);
  border-bottom: 30px solid transparent;
  border-left: 100px solid var(--primary);
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: var(--on-primary);
  margin-bottom: 16px;
}

.coin {
  width: 28px;
  height: 28px;
  border: var(--on-primary) solid 1px;
  border-radius: 28px;
  display: flex;
  overflow: hidden;
  margin: 0 5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coinAmount {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 0 5px;

  color: var(--on-primary);
}
