.header {
  background: #eaf4f6;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 16px;
}

.coin {
  width: 28px;
  height: 28px;
  border: black solid 1px;
  border-radius: 28px;
  display: flex;
  overflow: hidden;
  margin: 0 5px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coinAmount {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 0 5px;

  color: #000000;
}
