.header {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: var(--on-primary);
  margin-bottom: 16px;
}

.coinAmount {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 0 5px;

  color: var(--on-primary);
}
