.page {
  width: 100%;
  min-height: 100vh;
  background: var(--background-light);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.layout {
  max-width: 594px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: var(--on-background-light) solid 2px;
  border-top: none;
  border-bottom: none;
  align-items: center;
}
