.numReferralsContainer {
  background: var(--on-background);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
  width: 80px;
  height: 80px;
}

.numReferralsText {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: var(--background);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.numReferralsNumber {
  color: var(--background);
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.374px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
